<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <!--\\kiddbtest\kidbatches\ARP\-->
    <add key="DataFileDirPath" value="C:\temp\person_load\" />
    <!--  POINT TO PROD WHEN DONE **********-->
    <add key="DataFileExt" value=".DAT" />
    <add key="ProgLogDirPath" value="C:\temp\person_load\" />
    <add key="ProgLogFileName" value="ProgLog_" />
    <add key="ProgLogFileExt" value=".txt" />
    <add key="ScriptLogDirPath" value="C:\temp\person_load\" />
    <add key="ScriptLogFileName" value="ScriptLog_" />
    <add key="ScriptLogFileExt" value=".txt" />
    <add key="ScriptLogDatabase" value="itemprocessing" />
    <add key="NotifyEmail" value="nst.carlo.spader@nebraska.gov" />
    <add key="ItStaffEmail" value="nst.carlo.spader@nebraska.gov" />
    <!--  POING TO PROD WHEN DONE **********-->
    <add key="FromEmail" value="nst.noreply@nebraska.gov" />
    <add key="MailHost" value="mxout.ne.gov" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="itemprocessingCS" connectionString="data source=.;initial catalog=itemprocessing;user id=cswebuser;password=slemn#fmsl#48*s3$kLk3L;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PersonDBContext" connectionString="metadata=res://*/PersonModel.csdl|res://*/PersonModel.ssdl|res://*/PersonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=itemprocessing;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>